.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
       
}

.container__imagem {
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.cabecalho__menu-hamburguer{  
    background-image: url("../img/Menu.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;

}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg")
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
} 

.lista-menu {
    
    display: none;
    position: absolute; /*o elemento absolute está se movendo de acordo com cabeçalho, pois está conf como position: relative*/
    top: 100%; /*aparece imediatamente abaixo do cabeçalho*/
    background-color: var(--branco);
    width: 70vw;
    z-index: 10;
}

.lista-menu__titulo{
    color: var(--laranja);
    padding: 1rem;
    font-weight: 700;
}

.lista-menu__item {
    padding: 1rem;

}

.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}

.container__botao {
    display: none;
}


.container__botao:checked ~ .lista-menu {
    display: block;
    
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.opcoes__botao {
    display: none;
}

.opcoes__botao:checked ~ .lista-menu {
    width: auto;
    display: block;
}

.container__titulodesktop {
    display: none;
}

@media screen and (min-width:1024px) {
    .cabecalho {
        justify-content: center;
        padding: 0 1em;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;

    }
    .container__titulo {
        font-weight: 400;
        display: block;
        padding-right: 2em;
    }
    
    .container__titulo--negrito {
        font-weight: 700;       
    }

    .opcoes {
        display: flex;

    }

    .opcoes__item {
        padding: 2em;
        text-transform: uppercase;
    }

    .opcoes__link {
        color: var(--preto);
    }

    .opcoes__link-favorito {
        display: none;
    }

    .opcoes__botao:checked  ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width:1728px) {
    .cabecalho {
        padding: 0 4em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container {
        justify-content: space-between;
    }

    .container__itens {
        display: flex;
        align-items: center;
        color: var(--preto);
    }
    .container__titulodesktop {
        display: block;
    }

    .opcoes__item {
        padding: 2.5em 2em;
    }
   
}
